Host jenkins
  User centos
  HostName ec2-52-22-251-141.compute-1.amazonaws.com
  ForwardAgent yes
Host nat
  User centos
  HostName ec2-52-5-139-57.compute-1.amazonaws.com
Host sl*jenkins.devops.geointservices.io sl*.devops sl*
  User %r
#  ProxyCommand ssh -W %h:%p %r@jenkins.devops.geointservices.io
  ProxyCommand ssh -W %h:%p %r@lzalpha.geointservices.io
  # ChallengeResponseAuthentication no
  PasswordAuthentication no
  ForwardAgent yes
Host lzalpha
  HostName lzalpha.geointservices.io
  User centos
  ChallengeResponseAuthentication no
  PasswordAuthentication no
  ForwardAgent yes
host !lz1a* !gitlab* *.geointservices.io
    proxycommand ssh lz1a.geointservices.io -W %h:%p
Host lz
  HostName lz1a.geointservices.io
  User balbers
  ChallengeResponseAuthentication no
  PasswordAuthentication no
  ForwardAgent yes
  IdentityFile ~/.ssh/id_rsa
Host *
  IdentityFile /Users/balbers/.ssh/id_rsa
  IdentityFile /Users/balbers/.ssh/geointservices.pem
  # IgnoreUnknown AddKeysToAgent
  # UseKeychain yes
  AddKeysToAgent yes
  AddressFamily inet
  ForwardX11 yes
  ForwardAgent yes
Host p3
  HostName bastion-p3.geointservices.io
  User balbers
  ChallengeResponseAuthentication no
  PasswordAuthentication no
  ForwardAgent yes
  IdentityFile ~/.ssh/id_rsa
