Host jenkins
  User centos
  HostName ec2-52-22-251-141.compute-1.amazonaws.com
  ForwardAgent yes
Host nat
  User centos
  HostName ec2-52-5-139-57.compute-1.amazonaws.com
Host lz
  HostName lz1a.geointservices.io
  User balbers
  ChallengeResponseAuthentication no
  PasswordAuthentication no
  ForwardAgent yes
  IdentityFile ~/.ssh/id_rsa
Host *
  IdentityFile /Users/balbers/.ssh/id_rsa
  IdentityFile /Users/balbers/.ssh/geointservices.pem
  # IgnoreUnknown AddKeysToAgent
  # UseKeychain yes
  AddKeysToAgent yes
  AddressFamily inet
  ForwardX11 yes
  ForwardAgent yes
